<ion-view title="Dining">
 <ion-nav-bar class="bar-balanced">
</ion-nav-bar>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
		<ion-item  class="button button-full icon-right ion-chevron-right" href="#/app/dining/onCampusDining"> On Campus Dining</ion-item>
		<ion-item  class="button button-full icon-right ion-chevron-right" href="#/app/dining/offCampusDining"> Off Campus Dining</ion-item>
  </ion-content>
</ion-view>
