<ion-view title="Off Campus Dining">
 <ion-nav-bar class="bar-balanced">
	<ion-nav-back-button class="icon-left">
		Back
	</ion-nav-back-button>
</ion-nav-bar>

  <ion-content class="has-header">
		<div class="card">
			<div class="item item-text wrap dark" style="text-align:center">
				<h1>Off Campus Dining</h1>
				<ion-list>
					<button ng-repeat="place in offCampus" class="button button-full icon-right ion-chevron-right"> {{ place.placeName }}</button>
				<ion-list>
			</div>
		</div>
  </ion-content>
</ion-view>