<ion-view title="On Campus Dining">
 <ion-nav-bar class="bar-balanced">
	<ion-nav-back-button class="icon-left">
		Back
	</ion-nav-back-button>
</ion-nav-bar>
  <ion-content class="has-header">
		<div class="list card" ng-repeat="place in onCampus">
			<div class="item item-divider center">
				{{ place.placeName }}
			</div>
			<div class="item item-text wrap dark center">
				Sunday: {{ place.Sunday }}&nbsp &nbsp Thursday: {{ place.Thursday }}<br>
				Monday: {{ place.Monday }}&nbsp &nbsp Friday: {{ place.Friday }}<br>
				Tuesday: {{ place.Tuesday }}&nbsp &nbsp Saturday: {{ place.Saturday }}<br>
				Wednesday: {{ place.Wednesday }} &nbsp &nbsp Phone: XXX-XXX-XXXX
			</div>
		</div>
  </ion-content>
</ion-view>